<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EveryPenny</title>
    <style>
      h1 {
        color: white;
      }
      p {
        font-size: 16px;
        color: lightblue;
        font-style: italic;
      }
      div {
        border: 1px green solid;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Hi Admin from ${user.email}</h1>
      <p>
        The user with name ${user.firstName} and regId: ${user.regId} just made
        a contribution. Kindly verify.
      </p>
    </div>
  </body>
</html>
