@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

*,
html {
  scroll-behavior: smooth;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .title {
    @apply text-6xl leading-[4rem] text-center sm:text-7xl md:text-6xl lg:text-[5rem] bg-gradient-to-r to-60% from-slate-100 to-APP_GREEN bg-clip-text text-transparent font-[700] md:text-left tracking-tight;
  }
  .desc-text {
    @apply text-[1.3rem] sm:leading-[1.9rem] text-center md:text-left;
  }
  .sub-title {
    @apply text-2xl sm:text-3xl lg:text-4xl bg-gradient-to-r to-10% from-yellow-200 to-APP_GREEN bg-clip-text text-transparent font-cambay font-[700];
  }
  .paddingY {
    @apply py-20;
  }
  .page-title {
    @apply text-2xl sm:text-3xl lg:text-4xl text-[#1C3041] font-[700];
  }
  .dark-page-title {
    @apply text-2xl sm:text-3xl lg:text-4xl text-gray-300 font-[700];
  }

  .page-sub-title {
    @apply text-lg md:text-xl lg:text-2xl text-gray-500;
  }
  .desc {
    @apply text-white text-lg sm:text-2xl font-[300];
  }
  .btn {
    @apply rounded-full text-white duration-300 ease-in w-full md:w-44 lg:w-48 h-12 text-xl font-[400];
  }
  .form-btn {
    @apply rounded-full text-white duration-300 ease-in w-full h-12 text-xl font-[400];
  }
  .auth-btn {
    @apply rounded-full bg-white hover:bg-green-500 text-APP_GREEN duration-300 ease-in font-[400];
  }
  .p-text {
    @apply text-[1.4rem] leading-[1.3rem] xr:text-[1.4rem] xr:leading-[1.38rem] sm:text-lg text-gray-700 font-cambay font-[400] fold:text-xs;
  }
  .p-text-white {
    @apply text-[1.4rem] leading-[1.3rem] xr:text-[1.4rem] xr:leading-[1.5rem] sm:text-lg text-gray-200 font-cambay font-[400] fold:text-xs;
  }

  .form-input {
    @apply p-4 rounded-full h-11 w-full border-gray-300 border-[0.5px] shadow-sm;
  }
  .form {
    @apply w-full sm:w-9/12 lg:w-5/12;
  }
  .auth-wrapper {
    @apply w-full flex flex-col h-screen items-center justify-center;
  }
  .success-alert {
    @apply bg-green-50 text-black;
  }
  .error-alert {
    @apply bg-red-100 text-black;
  }
}
